.root {
    width: 100%;
    height: 100%;
}

/* Wave button skip */
#SkipButton {
    horizontal-align: center;

    margin-bottom: 5px;
}

/* Description */
#description {
    margin-bottom: -6px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: center;
    horizontal-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 0px 1.0 #000000;
    
    transition-property: color;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    
    font-size: 18px;
    font-family: defaultFont;
}

#FillBar {
    horizontal-align: center;
    vertical-align: top;

    width: 230px;

    margin-top: 20px;
}

/* Main Panel */
.timer {
    min-width: 100px;
    max-width: 900px;
    height: 120px;
    background-color: gradient( linear, 0% 0%, 0% 80%, from( #373d45 ), to( #4d5860 ) );
    horizontal-align: center;
    vertical-align: top;

    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 12px;

    flow-children: down;
}


/* Container */ 
#container {
    flow-children: down;
}

/* Classes */

/* Hidden class */
.Hidden {
    visibility: collapse;
}

.FadeIn {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-delay: 0s;

    opacity: 0;
}



/* Slide down animation */
@keyframes 'fadeIn' {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



/* Valve's default button */
.DefaultValveButtonClass
{
    width: 192px;
    
    min-width: 64px;
    min-height: 36px;
    
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #373d45 ), to( #4d5860 ) );
    border-style: solid;
    border-width: 1px;
    
    padding: 4px 10px;
    
    border-top-color: #555555;
    border-left-color: #494949;
    border-bottom-color: #333333;
    border-right-color: #404040;
    
    transition-property: background-color;
    transition-duration: 0.05s;
    transition-timing-function: linear;
}

.DefaultValveButtonClass Label
{
    margin-top: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-align: center;
    horizontal-align: center;
    vertical-align: middle;
    text-shadow: 2px 2px 0px 1.0 #000000;
    
    transition-property: color;
    transition-duration: 0.35s;
    transition-timing-function: ease-in-out;
    
    font-size: 18px;
    font-family: defaultFont;
}
.DefaultValveButtonClass:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );
    border-top-color: #aaaaaa77;
    border-left-color: #aaaaaa33;
    border-bottom-color: #333333;
    border-right-color: #404040;
}
.DefaultValveButtonClass:active
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939), to( #555555 ) );
    border-top-color: #222222;
    border-left-color: #303030;
    border-bottom-color: #666666;
    border-right-color: #444444;
    sound: "ui_generic_button_click";
}

