.timer {
    width: 100%;
    height: 100%;
    z-index: -4;
}

#timerBar
{
    width: 600px;
    height: 200px;

    margin-top: 100px;

    z-index: 2;
    align: left top;
}
#timerContainer
{
    width: 100%;
    height: 100%;
    
    z-index: 1;
    flow-children: down;
}

#titleWave
{
    color: white;
    font-size: 32px;

    text-transform: uppercase;
    z-index: 3;
    align: center top;
}

#progressBarContainer
{
    width: 90%;
    height: 32px;
    
    margin-top: 10px;
    horizontal-align: center;

}

#progressWaveBar
{
    width: 100%;
    height: 100%;

    background-color: rgb(38, 38, 38);
    flow-children: right;

    border-radius: 24px;
}


#progressTime_left
{
    width: 0%;
    height: 100%;

    background-color: gradient( linear, 0% 0%, 0% 100%, from( #8ea51b ), color-stop( 0.2, #a9c340 ), color-stop( .5, #908230), to( #5d4f25) );
    transition-property: width;
    transition-timing-function: ease-in-out;
    transition-duration: .09s;
    z-index: -2;
}

#timeLeft
{
    text-align: center;
    
    font-family: monospaceNumbersFont;
    font-weight: bold;
    font-size: 24px;

    text-shadow: 1px 1px 0px 2.0 #000000;
    color: white;

    align: center center;
    overflow: noclip;
    z-index: 4;
}

#SceneContainer
{
    width: 100%;
    height: 100%;
    z-index: 4;
    overflow: noclip;
}

#particle
{
    width: 100%;
    height: 100%;
}


#skipVote
{
    width: 120px;
    background-image: url("s2r://panorama/images/hud/reborn/shop_launcher_button_psd.vtex"); 
    height: 32px;
    
    align: center top;
    box-shadow: #00000055 0px 0px 2px 2px;

    transition-property: brightness, width, height;
    transition-timing-function: ease-in-out;
    transition-duration: .08s;

    margin-top: 10px;
}

#skipVote Label
{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;

    text-align: center;
    horizontal-align: center;
    vertical-align: center;

}

#skipVote:hover
{
    brightness: 5.0;
}

#skipVote:active
{
    width: 118px;
    height: 30px;
}

.Hidden
{
    visibility: collapse;
}